.card{
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.text-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 líneas */
    -webkit-box-orient: vertical;
}

.text-content.show-more {
    -webkit-line-clamp: unset; /* Muestra todo el contenido */
}

.read-more {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* START CUADRITOS EN LUGAR DE GUIONES */

/* Estilo para la lista con cuadritos verdes */
.custom-list {
    list-style-type: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 20px;
    
}

.custom-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 6px;
    height: 6px;
    background-color: #fc800b; /* Color del cuadrito */
}

/* END CUADRITOS EN LUGAR DE GUIONES */
.price{
    text-align: right;
}
.color-naranja{
    color: #fc800b;
}
.color-celeste{
    color: #00a7d9;
}
.color-verde{
    color: #7ED956;
}
.color-subtitulo{
    color: #152329;
}
.color-texto{
    color: #495057 !important;
}
.text-white{
    color: #fff !important;
}
.color-cabecera{
    background-color: #00a7d9;
    color: #fff;
}
.fondo-naranja{
    background-color: #d6761c;
    color: #fff;
}

a{
    color: #007bff;
}
a:hover{
    color: #3696fc;
    text-decoration: underline;
}
.menu-categorias{
    margin: 0 auto;
}
.section-categoria{
    padding: 60px 0 !important;
}
/* START ESTILOS MENU DE CATEGORIAS */
/* Estilo base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    color: #495057;
    overflow: hidden;
    text-align: center; /* Centrar el contenido de la barra de navegación */
}

.menu {
    list-style: none;
    margin: 0 auto; /* Centrar la lista del menú horizontalmente */
    padding: 0;
    display: flex; /* Cambia de inline-flex a flex para centrarlo mejor */
    justify-content: center; /* Centrar el contenido dentro del menú */
    align-items: center;
}

.menu li {
    display: inline;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.menu li a:hover {
   color: #9c9c9c;
}

/* Responsive */
.menu-toggle {
    display: none;
    background-color: #a5a5a5;
    border: none;
    color: white;
    padding: 14px 20px;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        display: none;
    }
    
    .menu li {
        text-align: center;
    }
    
    .menu-toggle {
        display: block;
    }
    
    .menu.active {
        display: flex;
    }
}

/* Estilo para el contenido de las categorías */
.category-content {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0.5s ease;
}

.category-content.active {
    opacity: 1;
    visibility: visible;
    max-height: 5000px; /* Ajusta según la altura de tu contenido */
}
.menu li a.active { 
    color: #ffcc00 !important; /* Cambia este color según tu preferencia */
}

.menu li a:hover {
    
    transform: scale(1.1); /* Hace que el botón se agrande ligeramente */
   
}

/* END ESTILOS MENU DE CATEGORIAS */
/* START VER MAS TEXTO */
/* Estilo de las cards */


/* Estilo del párrafo de texto */
.text-content {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Mostrar solo 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.text-content.expanded {
    -webkit-line-clamp: unset; /* Mostrar texto completo */
}

/* Estilo del botón */
.toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-button:hover {
    background-color: #0056b3;
}

/* END VER MAS TEXTO */
.desde{
    margin-top: -15px;
    margin-bottom: -5px;
}